html {
  --color-primary: #45bec4;
  --color-hover: #003366;
  --color-area: #1c212e;
  --color-black: #0e111b;
  --color-white: #fff;
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-white-50: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  line-height: 1.4;
}

.btn {
  height: 50px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-black);
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-hover);
  color: var(--color-white);
}

/* Default Loading Animation */
.loader {
  width: 30px;
  height: 30px;
  border: 5px solid var(--color-primary);
  margin: 30px auto;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Skeleton Loading Animation */
.skeleton {
  background-color: var(--color-area);
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  transform: translateX(-100%);
  animation: skeleton-loader 2s infinite;
}

@keyframes skeleton-loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.hide {
  display: none !important;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0 60px;
}

header {
  display: flex;
  background-color: rgba(14, 17, 27, 0.9);
  padding: 20px 40px;
  gap: 40px;
  position: sticky;
  align-items: center;
  top: 0;
}

header img {
  height: 40px;
}

header .logo {
  height: 40px;
  transition: 0.3s;
}

header .logo:hover {
  transform: scale(1.2);
}

header ul {
  display: flex;
  gap: 15px;
}

header nav ul li a {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-white-50);
  text-decoration: none;
}

header nav ul li a:hover {
  opacity: 0.7;
}

header nav ul li a.active {
  color: var(--color-primary);
}

.headline h1 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  line-height: 1;
}

.headline h1 span {
  color: var(--color-primary);
}

.headline p {
  color: var(--color-white-30);
  margin: 40px 0;
}

.headline p span {
  font-weight: 700;
}

.search {
  display: flex;
  gap: 10px;
  height: 50px;
}

.search input {
  flex-grow: 1;
  color: var(--color-white);
  background-color: var(--color-area);
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0 20px;
  font-size: 14px;
}

.search button {
  flex-grow: 1;
  max-width: 150px;
}

.movie-list {
  background-color: var(--color-area);
  border-radius: 4px;
  margin-top: 30px;
  padding: 20px;
}

.movie-list .message {
  text-align: center;
  color: var(--color-primary);
  font-size: 18px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie {
  width: 200px;
  height: 300px;
  background-size: cover;
  position: relative;
  background-color: var(--color-black);
  border-radius: 4px;
  overflow: hidden;
}

.movie:hover::after {
  content: "";
  position: absolute;
  border: 6px solid var(--color-primary);
  border-radius: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.movie .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #0e111b4d;
  backdrop-filter: blur(10px);
  padding: 14px;
  box-sizing: border-box;
  font-size: 14px;
}

.movie .info .year {
  color: var(--color-primary);
  font-weight: 500;
}

.movie .info .title {
  color: var(--color-white);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-more {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

.movie-detail {
  display: flex;
  gap: 70px;
  color: var(--color-white-50);
}

.movie-detail .poster {
  flex-shrink: 0;
  width: 500px;
  height: 750px;
  background-size: cover;
  border-radius: 10px;
  background-color: var(--color-area);
}

.movie-detail .specs {
  flex-grow: 1;
}

.movie-detail .title {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  line-height: 1;
  color: var(--color-white);
  margin-bottom: 30px;
}

.movie-detail .title.skeleton {
  height: 70px;
}

.movie-detail .labels {
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 20px;
}

.movie-detail .labels.skeleton {
  height: 30px;
}

.movie-detail .plot.skeleton {
  height: 400px;
}

.movie-detail h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: var(--color-white);
  margin: 24px 0 6px;
}

.about .photo {
  width: 230px;
  height: 230px;
  background-size: cover;
  margin: 0 auto 20px;
}

.about .name {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.about p {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 4px;
}

.about a {
  color: var(--color-primary);
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}

.not-found h1 {
  font-size: 70px;
  font-weight: 700;
  color: var(--color-white-10);
  text-align: center;
}
